# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados
data/

# MLflow
mlflow/
mlruns/


# Ambiente
.env

# OS/IDE
.DS_Store
.idea/
.vscode/

mlflow.db